.productCard{
    height: 410px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 5px 5px 18px rebeccapurple;
}
button{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
    }
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
