.product {
    margin: 10px;
    background-color: white;
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 5px blue;
    border: 10px solid blue;

}

.image>img {
    justify-content: center;
    align-items: center;
    margin: 45px;
    position: relative;
    left: 5px;
    
}

.desc {
    align-items: center;
    text-align: center;
}
.label>h3{
    color:black;
}

.label::before {
    content: '20% offo';
    display: block;
    background-color: blue;
    width: 150px;
    height: 40px;
    position: absolute;
    transform: rotate(41deg);
    top: 53px;
    right: 604px;
}